<html>
<title>Settings</title>
<meta charset="UTF-8">
<meta name="author" content="AlirezaEkt">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../stylesheets/bootstrap.css">
<link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="../stylesheets/bootstrap-toggle.min.css">

<script src="../javascripts/jquery-slim.js"></script>
<script src="../javascripts/popper.js"></script>
<script src="../javascripts/bootstrap.js"></script>
<script src="../javascripts/bootstrap-toggle.min.js"></script>

<link rel="stylesheet" href="../stylesheets/myboot.css">
<link rel="stylesheet" href="../stylesheets/mine.css">

<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../images/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        BMS
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contacts">Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/videocall">VideoCall</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/settings"><span><b>Settings</b></span></a>
            </li>
        </ul>
    </div>
</nav>

<!-- Content -->


<div class="container">
    <div class="row rowmine">
        <div class="col-sm-24 col-md-16 col-lg-12 text-center ">
            <div class="smartnode" align="left">
                <span style="padding-left: 60px"><b>UI Theme</b></span>
                <button onclick="changecolor()">Blue</button>
                <button onclick="changecolor2()" style="background-color: #1e7e34">Green</button>



            </div>
        </div>
        <div class="col-sm-24 col-md-16 col-lg-12 text-center ">
            <div class="smartnode">

            </div>
        </div>

    </div>
</div>

<div align="center">
    <span style="">ABMS© 2017</span>
</div>

<script>
    function changecolor() {
        document.getElementsByClassName("smartnode").style.backgroundColor = "blue";
    }
    function changecolor2() {
        document.getElementsByClassName("smartnode").style.backgroundColor = "green";
    }

    $(document).ready(function(){

        $(".container.rooie").show(200);
    });
    $("body").on("click","#call",function(){
        $("#remotevideo").css("height");
        $("#myvideo").css("top",parseInt($("#remotevideo").css("height"))+ parseInt($("#remotevideo").css("top")))
    });


</script>

</body>
</html>