<html>
<title>Contacts</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../stylesheets/bootstrap.css">
<link rel="stylesheet" href="../stylesheets/mine.css">
<link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="../stylesheets/bootstrap-toggle.min.css">

<script src="../javascripts/jquery-slim.js"></script>
<script src="../javascripts/popper.js"></script>
<script src="../javascripts/bootstrap.js"></script>
<script src="../javascripts/bootstrap-toggle.min.js"></script>

<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../images/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    BMS
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="voip"><span><b>Contacts</b></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="videocalltest">VideoCall</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="settings">Settings</a>
      </li>
    </ul>  
  </div>
</nav>
<!-- Content -->
<div class="container">
    <div class="row rowmine">

    </div>
</div>
</body>
<script>

    $('body').on('click','.video',function() {
        var x = $(this).siblings('p').html();
        videoCall(x);
    });

    $('body').on('click','.hang',function() {
        $(this).parent('.contactCard').remove();
    });

    initpage();

    function initpage(){
        // mocked data
        var list = [];
        var user1 = {
            name : "ali",
            age : "192",
            userId : "192.168.1.1",
            imgUrl : "../images/user.svg"
        };

        var user2 = {
            name : "hasan",
            age : "24",
            userId : "192.168.1.2",
            imgUrl : "../images/user.svg"
        }
        var user3 = {
            name : "mohammad",
            age : "36",
            userId : "50000",
            imgUrl : "../images/user.svg"
        };
        list.push(user1);
        list.push(user2);
        list.push(user3);
        $.each(list,function(index,data){
            $('.rowmine').append(`<div class="col-sm-6 col-md-4 col-lg-3 text-center ">
                                    <div class="contactCard">
                                        <span>${data.name}</span>
                                     <img src="${data.imgUrl}" class="nodeicon" alt="" >
                                    <div class="btngroup">
                                    <p class="userId" style="display: none;">${data.userId}</p><a href="#" class="btn btn-lg btn-primary callbutton video"><img src="../images/facetime-button.svg" class="callbuttonimage" alt="" ></a><a href="#" class="btn btn-lg btn-primary callbutton voice"><img src="../images/telephone-handle.svg" class="callbuttonimage" alt="" > </a> </div>
                                    </div>
                                </div>`);
        });

    }

    function videoCall(x){

        $.ajax(
            {
            url: "http://"+x+":8088/janus",
            method: "POST",
            data: {
                janus : "create",
                transaction: "10000",
            },
            success:function(resp){
              if(resp["janus"] === "success") {
                  console.log(resp["transaction"]);
                  $('body').append(`
                    <div class="videoBox">
                        <button class="hang">Hang Up</button>
                        <iframe src="http://${x}:8088/janus/${resp["data"]["id"]}"></iframe>
                    </div>
                `);
              }
            },
            error:function(err){
                window.alert("call again");
            },
            fail:function(err){
                window.alert("call again");
            },
            timeout:function(res){
                window.alert("call again");
            }
        });
    }
</script>
</html>