.navbar {
  position: fixed!important;
  width: 100%!important;
  top: 0!important;
  z-index: 99999!important;
}

.smartnode ,.contactCard{
  padding: 10px;
  margin-top: 30px;
  border-radius: 4px;
  background-color: #dddddd;
  height: 210px;
}

.smartnode span{
  color: #007bff;
}
.smartnode:hover,.contactCard:hover {
  background-color: #cccccc;
}

.nodeicon {

  max-width:100px;
  width:100%;
  height: auto;
  position: absolute;
  transition: translate;
  -ms-transform: translate(50px, 100px);
  -webkit-transform: translate(50px, 100px);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

}
.callbutton {
  margin: 10px 5px;
  width: 40%;
  height: 50px;
}
.callbuttonimage {
  height: 30px;
}

.btngroup {
      position: absolute;
    bottom: 0;
    width: 80%;
    left: 10%;

}
/*.toggle.btn{*/
  /*position: absolute;*/
  /*margin-top:10px ;*/
  /*bottom: 0;*/
  /*-ms-transform: translate(50px, 100px);*/
  /*-webkit-transform: translate(50px, 100px);*/
  /*transform: translate(-50%, -30%);*/
  /*left: 50%;*/
/*}*/

.toggle.btn{
  position: relative;
  margin-top:100px ;
  bottom: 0;
  right:4px;
  margin-left: 10px;
}

.nodeinfo {
  position: absolute;
  bottom: 0;
  -ms-transform: translate(50px, 100px);
  -webkit-transform: translate(50px, 100px);
  transform: translate(-50%, -30%);
  font-size: 22px;
  font-weight: bold;
  color: #007bff;
}

.toggle-on.btn {
  padding-right: 12px !important ;
}
.toggle-off.btn {
  padding-left: 12px !important ;
}
.rowmine {
  margin-top: 45px;
  margin-bottom: 10px;
}

.progress {
      width: 95%;
    left: 2.5%;
    /* top: 50%; */
    background-color: #e9ecef;
    border-radius: .25rem;
    position: relative;
    /* float: right; */
    clear: both;
    top: 58%;
    height: 25px !important ;
}
.videoBox {
  position: fixed;
  width: 90vw;
  left: 5vw;
  height: 80vh;
  top: 5vh;
  background-color:#CCCCCC;
  z-index: 200;
  display: block;
}
.VideoBox iframe {
  position: relative;
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  border:1px solid white;
  display: block;
}

.VideoBox .hang {
  background-color: red;
  border-radius:2px;
  color:white;
  font-weight:bold;
  position: absolute;
  left: 35%;
  bottom:50px;
  width:30%;
  z-index:201;
  height:50px;
  display: block;
}

.smartnode button{
  color: white;
  border-radius: 5px;
  background-color: #007bff;
  border: none;
  top: 100px;
  width: 70px;
  height: 40px;
  position: relative;

}
.smartnode button:active {
  background-color: #cccccc;
}

/*}*/

.mycll {
  width: 40%!important;
  left:30% !important;
  z-index: 0;
}

.mybtt {
  bottom: 10%!important;
  display: block ;
  position: fixed!important;
  width:30%!important;
  left:35%!important;
  z-index: 1005;
}

.panelx{
  position: fixed;
  left:2vw;
  top:50px;
  height:auto;
  display: block;
  width:96vw;
}
#videoright{
  position: relative;
  left:0;
  width:100%;
  height:100%;
  top:0;
  display: block;
}
#videoright .remweed{
  position: relative;
  width:100%;
  height:100%;
  margin:0;
  max-height:800px;
  padding:0;
  left:0;
  top:50px;
  display: block;
}


#videoleft{
  position: absolute;
  z-index: 1001;
  left:0;
  right:0;
  bottom:0;
  width:30%;
  height:auto;
  display: block;
}
#videoleft .myweed {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  display: block;
}
@media screen and (max-width: 700px) {
  #videoleft .myweed {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
    left: 9px;
    top: 0;
    display: block;
  }
}Z
@media screen and (max-width: 700px) {
  #videoleft{
    position: relative;
    z-index: 1001;
    left:18%;
    right:0;
    bottom:0;
    float: left;
    clear: left;
    width:64%;
    height:auto;
    display: block;
  }
  .panelx{
    position: fixed;
    left:2.5VW;
    width:95vw;
    height:auto;
    display: block;


  }
  .panelx .btweed {
    z-index: 1010;
    width: auto;
    position: absolute;
    top:0;

  }
  .mybtt {
    top:600px !important;
    display: block;
    position: fixed!important;
    width: 50%!important;
    height: 60px;
    left: 25%!important;
    z-index: 1005;
  }
}
.rooie{
  z-index: 5;
  display: none;
  position: fixed;
  width:100%;
  height:100%;
  padding:30px;
  background-color:white;
}
.ziri{
  z-index: 4;
  display: block;
  padding:10px;
}

.panel-body {
   padding: 10px 10px !important;
}
.nav-link{
  padding:1px 10px !important;
  font-size:18px !important;
}
.nav-link.active{
  color:#007bff !important;
  font-weight: bold !important;
}
.modal-content {
  top: 100px !important;
  position: fixed !important;
}
.navbar{
  padding:10px 10px!important;
  height: 50px !important;
  min-height: 0;
}
#navbarSupportedContent{
  background-color:#f8f9fa !important;
}

.ziri #videoright .remweed{
    top:-50px;
}
.btn-group{
  z-index:9999999;
  left:50%;
  top:10px;
  position: absolute;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  transform: translate(-50%,0);
}
.ziri .panelx {
  position: fixed;
  left: 0;
  top: 50px;
  height: auto;
  display: block;
  width: 100vw;
  background-color: white;
}
.btn-group button{
  padding:3px;
  height: 20px;
}

.ziri #call{
  display: none;
}